:root{
  --palepurple: #F1E3F3;
  --periwinkle: #C2BBF0;
  --jordyblue: #8FB8ED;
  --deekskyblue: #62BFED;
  --dodgerblue: #3590F3;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--jordyblue);
  overflow-x: hidden;
}

header {
  background-color: var(--dodgerblue);
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.logo-container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 60px;
  width: auto;
  max-width: 100%;
}

.container {
  display: flex;
  min-height: 100vh;
  flex: 1;
}

nav {
  background-color: #333;
  width: 140px;
  min-height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  border-bottom: 2px solid #444;
}

nav ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7.5px;
}

.nav-icon img {
  filter: invert(1);
  width: 30px;
  height: auto;
}

main {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  text-indent: 1%;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px;
  margin: 20px;
  border: 2px solid var(--palepurple);
  background-color: var(--palepurple);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.section img {
  background-color: var(--periwinkle);
  padding: 1.5%;
  width: 45%;
}

.section h1 {
  font-size: 26px;
  text-indent: 0%;
  color: var(--dodgerblue);
}

.section h2 {
  font-size: 17px;
  font-weight: normal;
  color: var(--dodgerblue);
}

.section p {
  font-size: 15px;
  color: #333;
}

.section li {
  margin: 2.5%;
  color: #333;
}

.section:hover{
  border: 2px solid yellow;
}

footer {
background-color: #333;
color: white;
margin-bottom: auto;
text-align: center;
padding: 20px; 
width: 100%;
bottom: 0;
}

.question, .open {
  margin-inline: 5%;
  width: 87.5%;
  cursor: pointer;
  font-size: 20px;
  background-color: var(--jordyblue);
}

.question:hover, .open:hover {
  background-color: var(--periwinkle);
}

.question:after{
  content: "\002B";
  font-size: 24px;
  float: right;
}

.open:after {
  font-size: 24px;
  float: right;
  content: "\2212";
}

.answer {
  margin-inline: 5%;
  width: 87.5%;
  max-height: fit-content;
  text-indent: 7.5%;
  font-size: 18px;
  color: #333;
  transition: max-height 0.2s ease-out;
  margin-top: 10px;
}

.sectionServices {
  background-color: var(--palepurple);
  padding: 20px;
  margin: 20px;
  border: 2px solid var(--palepurple);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  text-align: center;
}

.logo {
  width: 180px; 
  height: auto;
  margin-bottom: 20px;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.2));
   transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1); 
}

.sectionMain {
  text-align: center;
  padding: 15% 32%;
  background-color: var(--jordyblue);
  margin: 0% 0%;
}