:root {
    --palepurple: #F1E3F3;
    --periwinkle: #C2BBF0;
    --jordyblue: #8FB8ED;
    --deekskyblue: #62BFED;
    --dodgerblue: #3590F3;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--jordyblue);
    overflow-x: hidden;
}

header {
    background-color: var(--dodgerblue);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 60px;
    width: auto;
    max-width: 100%;
}

.container {
    display: flex;
    min-height: 100vh;
    flex: 1;
}

nav {
    background-color: #333;
    width: 140px;
    min-height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    border-bottom: 2px solid #444;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-icon img {
    filter: invert(1);
    width: 30px;
    height: auto;
}

main {
    flex: 1;
    padding: 20px;
    width: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
    margin: 20px;
    border: 2px solid var(--palepurple);
    background-color: var(--palepurple);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    font-size: 18px;
    line-height: 1.6;
}

.section h1 {
    font-size: 26px;
    margin-left: 10px;
    color: var(--dodgerblue);
}

.section h2 {
    font-size: 17px;
    font-weight: normal;
    color: var(--dodgerblue);
}

.section p {
    font-size: 15px;
    color: #333;
}

.section:hover {
    border: 2px solid yellow;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}
